:root {
  --background: #080808;
  --secondary-background: #172a45;
  --secondary: #64ffda;
  --secondary-pink: #ff004f;
  --primary-text: #fff;
  --secondary-text: #8fa89d;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--primary-text);
}

.container {
  padding: 10px 8%;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

ul li a {
  color: var(--primary-text);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--secondary);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

button,
.btn {
  color: var(--secondary);
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  padding: 10px 1rem;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

button:hover,
.btn:hover {
  background-color: var(--secondary-text);
}

.header-text {
  margin-top: 12%;
}

.header-text p {
  color: var(--secondary);
  font-size: 24px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 24px;
}

.header-text h2 {
  font-size: 48px;
  color: var(--secondary-text);
  letter-spacing: 1.8px;
  margin-top: 40px;
}

.header-about-self {
  max-width: 500px;
  width: 50%;
  margin-top: 64px;
}

.header-about-self a {
  color: var(--secondary);
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  padding: 1.25rem 1.75rem;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.header-about-self a:hover {
  background-color: var(--secondary-text);
}

/* projects */

.section {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

#projects {
  padding: 50px;
  margin: 100px 0;
  margin-top: 100px;
}

.sub-heading {
  color: var(--secondary-text);
}

.sub-heading::after {
  content: "";
  background-color: var(--secondary-text);
  display: block;
  width: 200px;
  height: 0.2px;
  margin-left: 320px;
  position: relative;
  top: -12px;
}

.project-list {
  display: flex;
  flex-direction: column;
  row-gap: 160px;
}

.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 200px);
  align-items: center;
}
.project-description {
  display: flex;
  flex-direction: column;
  text-align: end;
  position: relative;
  grid-area: 1 / 7 / span 2/ -1;
  z-index: 2;
}

.project-img {
  position: relative;
  z-index: 1;
  grid-area: 1 / 1 / 1 / 8;
  padding-top: 60px;
}

.project-description div {
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  position: relative;
  z-index: 2;
  padding: 25px 25px 25px 60px;
  background-color: var(--secondary-background);
  color: rgb(168, 178, 209);
  font-size: 18px;
  border-radius: 3px;
  position: relative;
  z-index: 2;
  margin-top: 36px;
}

.project-img img,
.project-img video {
  width: 100%;
}

.link-img {
  width: 30px;
  filter: invert(100%) sepia(93%) saturate(1%) hue-rotate(60deg)
    brightness(107%) contrast(101%);
  margin: 0 10px;
}

/* contact */
.contact-section {
  padding: 120px 0px;
  text-align: center;
  max-width: 600px;
  margin: 0px auto 160px;
}

.contact-section p {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* contact links */
.contact-links {
  width: 24px;
  position: fixed;
  bottom: 0px;
  right: 50px;
  z-index: 10;
  filter: invert(81%) sepia(58%) saturate(395%) hue-rotate(97deg)
    brightness(104%) contrast(103%);
}

.contact-links ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px 50px;
  background-color: rgb(168, 178, 209);
}

.nav-icon {
  filter: invert(81%) sepia(58%) saturate(395%) hue-rotate(97deg)
    brightness(104%) contrast(103%);
  width: 20px;
  display: none;
}

/* css for small screens */
@media only screen and (max-width: 650px) {
  .header-text h1 {
    font-size: 30px;
  }
  .header-text h2 {
    font-size: 24px;
  }

  .header-about-self a {
    padding: 8px;
    font-size: 14px;
  }

  .nav-icon {
    display: block;
  }

  nav ul {
    background-color: var(--secondary-background);
    position: fixed;
    top: 0;
    right: -200px;
    width: 160px;
    z-index: 2;
    height: 100vh;
    padding-top: 50px;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .nav-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1000px) {
  .project-list {
    margin-top: 120px;
  }
  .sub-heading::after {
    width: 400px;
  }
}

@media only screen and (max-width: 750px) {
  .project {
    display: flex;
    flex-direction: column-reverse;
    transform: rotate();
  }

  .project-img {
    padding-top: 20px;
  }

  .project-description {
    text-align: start;
  }

  .contact-section {
    padding: 10px 50px;
  }

  .sub-heading::after {
    width: 100px;
  }
}
